<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <form action="/categories/add-category" method="POST">
      <label for="category_id">Category ID:</label>
      <input type="number" name="category_id" id="category_id" required />
      <br />

      <label for="category_name">Category Name:</label>
      <input type="text" name="category_name" id="category_name" required />
      <br />

      <button type="submit">Add Category</button>
    </form>
  </body>
</html>
