<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/formStyles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <form action="/categories/add-category" method="POST">
      <label for="category_name">Category Name:</label>
      <input type="text" name="categoryName" id="categoryName" required />

      <button type="submit">Add Category</button>
    </form>
  </body>
</html>
