<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header"><h1>Grocery Store</h1></header>
    <nav class="nav">
      <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/products">All Products</a></li>
      </ul>
    </nav>

    <main class="product-overview">
      <div>
        <div class="search-container">
          <input
            type="search"
            name="query-product"
            id="query-product"
            placeholder="Search for a Product"
          />
        </div>
        <div class="add-product-container">
          <a href="/products/add-product">Add product</a>
        </div>
      </div>
      <div class="product-details">
        <h1>Dashboard</h1>
        <div class="products-total">Total Products in Store</div>
        <div class="products-worth">Total Products Worth</div>
        <div class="products-low">Products Low in Stock</div>
        <div class="products-out">Products Out of Stock</div>
      </div>
      <div class="product-analytics">
        <h1>Dashboard</h1>
        Analytics
      </div>
    </main>
    <footer class="footer"></footer>
  </body>
</html>
