/* General Styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
}

.main-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar */
.nav-bar {
  flex: 1;
  background-color: #2e3b4e;
  color: white;
  padding: 20px;
}

.nav-bar div {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.nav-bar ul {
  list-style: none;
  padding: 0 10px 10px 20px;
}

.nav-bar > ul > li {
  margin: 40px 0;
  color: #ccc;
  text-decoration: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.nav-bar ul li a {
  /* margin: 20px 0; */
  color: #ccc;
  text-decoration: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.nav-bar ul li a:hover,
.nav-bar ul li:hover {
  color: white;
}

.nav-bar ul li ul li {
  color: white;
  padding: 15px 0 0 15px;
  cursor: pointer;
}

.logo-container {
  display: flex;
  gap: 10px;
  cursor: pointer;
  margin: 20px 10px 10px 20px;
}

/* Main Content */
.dashboard {
  flex: 5;
  display: flex;
  flex-direction: column;
  background-color: #e9edf4;
}

.dashboard h1 {
  font-size: 2rem;
  color: #2e3b4e;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 40px;
}

.search-container input {
  padding: 10px;
  font-size: 1rem;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container button {
  padding: 10px 15px;
  background-color: #2e3b4e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions {
  display: flex;
  gap: 10px;
}

.add-product a {
  background-color: #28a745;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.add-product a:hover {
  background-color: #218838;
}

/* Product Details Section */
.products-details {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  gap: 30px;
  padding: 40px;
}

.product-detail {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product-detail p {
  margin: 0;
  font-size: 1.2rem;
}

.product-detail p:last-child {
  font-weight: bold;
  color: #2e3b4e;
}

.hidden {
  display: none;
}

#products-list,
#categories-list,
#suppliers-list {
  height: 110px;
  overflow-y: auto;
  background-color: #364458;
  margin-right: 5px 0;
}
